font-family: 'Orbitron', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Monoton', cursive;


body {
  font-size: 20px;
}

p {
  font-family: 'Righteous', cursive;
  /* font-family: 'Orbitron', sans-serif; */
  font-size: 25px;
  font-weight: bold;
  color: darkmagenta;
}

h1 {
font-family: 'Monoton', cursive;
/* font-family: 'Righteous', cursive; */
/* font-family: 'Orbitron', sans-serif; */
font-size: 60px;
/* font-weight: bold; */
color: darkmagenta;
}


.containerTop {
  /* border: 5px red solid; */
  border: 5px midnightblue solid;
  border-radius: 30px;
  height: 75px;
  background-color: auto;
  margin: 6px;
  /* padding-top: 2px; */
  padding-bottom: 60px;
  text-align: center;

}

#score {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  color: darkmagenta;
}

.title {
  font-family: 'Righteous', cursive;
}

.containerMiddle {
  display: flex;
  /* border: 2px green solid; */
  height: 800px;
  background-color: auto;
  flex-direction: row;
  justify-content: space-around;
  z-index: -1;
}

.containerLeft {
  /* border: 5px yellow solid; */
  border: 5px midnightblue solid;
  border-radius: 30px;
  background-color: auto;
  margin: 6px;
  padding: 6px;
  width: 200px;
  text-align: center;
}

.scoreboardLeft {
}

.pictureLeft {

}

/* .playingField {
  /* border: 5px gray solid; */
  /* border: 5px midnightblue solid;
  border-radius: 30px;
  background-color: auto;
  margin: 6px;
  padding 2px;
  width: 900px; */

/* } */

.containerRight  {
  /* border: 5px yellow solid; */
  border: 5px midnightblue solid;
  border-radius: 30px;
  background-color: auto;
  margin: 6px;
  padding: 6px;
  width: 200px;
  text-align: center;
  z-index: 1
}

.scoreboardRight {
padding-right: 30px;

font-family: 'Righteous', cursive;
/* font-family: 'Orbitron', sans-serif; */
font-size: 25px;
font-weight: bold;
color: darkmagenta;

}

.pictureRight {

}

.containerBottom div {
  /* border: 5px red solid; */
  border: 5px midnightblue solid;
  border-radius: 30px;
  height: 75px;
  background-color: auto;
  margin: 6px;
  padding: 6px;
  padding-bottom: 35px;
  text-align: center;
}

.bottomInfoBar div {

}

ul {
  list-style-type: none;
}

/* #map div.blank.clicked {
  background-color: dodgerBlue;
} */

////////////////////////////////////////////

*{
  box-sizing: border-box;
}

#map > div{
  margin-top: 50px;
}

#map div {
  width: 708px;
  height: 708px;
  background-color: black;
  border-radius: 30px;
  text-align: center;
  padding-top: 20 px;
  z-index: 2;
  /* display: inline-block; */
}
#map div div {
  border: 2px solid black;
  width: 60px;
  height: 60px;
  float: left;
  border-radius:15px;
}

#map div.under_blank{background-color: dodgerblue;}
#map div.under_shape{background-color: tomato;}
#map div.over_blank{background-color: #3852CC;}
#map div.over_success{background-color: #00FF33;}
#map div.over_fail{background-color: #FD1C03;}
#map div.under_extra{background-color: yellow;}


#overgrid {
  margin-top: 400px;
}

/*
#map div {
  width: 500px;
  height: 500px;
}

#map div {
  border:1px solid red;
  width: 50px;
  height: 50px;
  float: left;
}

#map div.blank{background-color: aqua;}
#map div.path{background-color: chartreuse;} */
