font-family: 'Orbitron', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Monoton', cursive;


body {
  font-size: 20px;
}




.containerTop {
  display: flex;
  border: 5px midnightblue solid;
  height: 75px;
  text-align: center;
  justify-content: center;
  margin: 20px;
}


#score {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  color: darkmagenta;
}










////////////////////////////////////////////

*{
  box-sizing: border-box;
}



#map div {
  /* display: flex; */
  width: 720px;
  height: 720px;
  background-color: red;
  /* border-radius: 30px; */
  /* text-align: center; */
  /* display: inline-block; */
}
#map div div {
  border: 2px solid black;
  width: 60px;
  height: 60px;
  float: left;
  /* justify-content: center; */

}

#map div.under_blank{background-color: dodgerblue;}
#map div.under_shape{background-color: tomato;}
#map div.over_blank{background-color: #3852CC;}
#map div.over_success{background-color: #00FF33;}
#map div.over_fail{background-color: #FD1C03;}
#map div.under_extra{background-color: yellow;}
